.btn {
	position: relative;
	display: block;
	border: 0;
	outline: 0;
	background-color: transparent;
	font-size: 2rem;
	cursor: pointer;
	transition: background-color ease-in-out 0.15s;

	&--number {
		&:hover {
			background-color: $white--10;
		}
	}

	&--clear {
		color: $red;
		background-color: $red--10;
		margin-right: auto;

		&:hover {
			background-color: $red--20;
		}
	}

	&--operator {
		background-color: $gray;

		&:hover {
			background-color: $white--20;
		}
	}

	&--equals {
		background-color: $blue;
	}
}
