.calculator {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: $black;

	&__input {
		display: flex;
		flex: 0 0 70%;
		flex-direction: column;

		.operator {
			flex: 0 0 25%;
			flex-direction: column;
		}
	}
}

.display {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	flex: 0 0 30%;
	padding: 2rem;

	.operation {
		font-size: 2rem;
	}

	.result {
		width: 100%;
		overflow: hidden;
		font-size: 4rem;
		text-align: right;
		text-overflow: ellipsis;
		background-color: transparent;

		&::placeholder {
			color: $white;
		}
	}
}

.row {
	flex: 1 1 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	&--gray {
		background-color: $gray;
	}

	.btn {
		flex: 0 0 25%;

		&--equals {
			margin-left: auto;
		}
	}
}
