// Colors
$blue: #2E8AE5;
$red: #E52E2E;
$red--10: rgba(229, 46, 46, 0.1);
$red--20: rgba(229, 46, 46, 0.2);
$black: #131619;
$gray: #1D2126;
$white: #FFFFFF;
$white--10: #1b1e23;
$white--20: #262b31;